extends layout

block content
	.row
		.col-xs-12
			p.return
				a(href="/") Return
			h1 Goat Shippers!
			p Welcome to the Goat Shippers livestock mailing shop! Do you have a Goat that you need to ship to another city, state, or even country? Our options are sure to meet your every Goat Shipping need!
	.row
		.col-xs-12.col-md-10.col-md-offset-1
			.editable-table-holder.table-responsive
				table.table.table-striped.table-condensed
					thead
						tr
							th Goat Name
							th Shipping Method
							th Price
							th
					tbody(data-bind="foreach: itemList")
						tr
							td
								input(data-bind="value: name")
							td
								select(data-bind="options: shippingMethodList, value: shippingMethod, optionsText: 'name'")
							td(data-bind="text: methodPrice")
							td
								button(data-bind="click: $root.removeItem, enable: $root.itemList().length > 1") Remove
				button(data-bind="click: addItem") Add Goat
	.row
		.col-xs-12
			h2
				= "You are shipping "
				span(data-bind="text: itemList().length")
				= " Goats, for a total of $"
				span(data-bind="text: shippingTotal")
				| !
				span.error(data-bind="visible: !bulkRequirementsMet()")
					| You must add Goats to meet the "Bulk Goat" shipping requirements!

block scripts
	script(src="/bower_components/knockoutjs/build/output/knockout-latest.debug.js")
	script(src="/javascripts/lesson_0.js")